@use 'modules/_variables.sass'
// ################################## //
*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%
  font-family: variables.$poppins 
// ################################## //
// Flex Global //
.fl
  display: flex
.fl-dir
  flex-direction: column
.fl-ai-center
  align-items: center
.fl-jc-center
  align-items: center
// ################################## //
body
  width: 100%
  background-color: variables.$violet
  color: white
